
$action-color: #9d79d6;
$delete-color: rgb(236, 109, 109);
$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$background-color:#e7ecee;

body, html {
  font-family: $base-font;
  margin: 0;
}

h1 {
  color: darken($background-color, 60%);
  text-align: center;
}

form {
	background: $background-color;
  border-radius: 8px;
  padding: 2em;
  margin: 0 auto;
  max-width: 30em;
  text-align: center;

  > * {
    display: inline;
  }

  input[type="text"] {
    background-color: darken($background-color, 10%);
    box-shadow: 0 1.5px 0 darken($background-color, 12%) inset;
    box-sizing: border-box; 
    color: darken($background-color, 50%);
    border: none;
    border-radius: 8px;
    font-size: 15px;
    margin: 0 1em 0 0;
    outline: 0;
    padding: .8em;
    width: 100%;
    max-width:20em;
    &:focus {
      background: darken($background-color, 5%);
    }
  }
  input[type="submit"] {
    background: $action-color;
    border: 1px solid darken($action-color, 10%);
    border-radius: 3px;
    border-width: 1px 1px 4px;
    color: #fff;
    font-size: 1em;
    padding: 1em 2em;
    &:hover {
      background: darken($action-color, 10%);
    }
  }
}

  ul {
  // font-family: $base-font;
  list-style-type:none;
  margin: 0em;
  padding: 1em 2em;
  text-align: center;
    li {
      font-size: .1.5em;
      margin: .8em 0em;
      width: 100%;

          &.done {
            input {
              background: salmon;
              box-shadow: 0 1.5px 0 darken(salmon, 3%) inset;
              
              text-decoration: line-through;
              &:hover {
                background: lightgreen;
                box-shadow: 0 1.5px 0 darken(lightgreen, 8%) inset;
              }
            }
          }

          input {
            background-color: darken($background-color, 10%);
            box-shadow: 0 1.5px 0 darken($background-color, 12%) inset;
            box-sizing: border-box; 
            color: darken($background-color, 50%);
            border: none;
            border-radius: 8px;
            // font-family: $base-font;
            font-size: 1em;
            margin: 0 1.55em 0 0;
            outline: 0;
            padding: .8em;
            width: 100%;
            max-width:20em;
            &:hover {
                  background: pink;
                  box-shadow: 0 1.5px 0 darken(pink, 4%) inset;
              }
          }

          button {
              background: $delete-color;
              border: 1px solid darken($delete-color, 10%);
              border-radius: 16px;
              border-width: 1px 1px 4px;
              color: #fff;
              font-size: 1em;
              padding: .7em 1em;
              &:hover {
                background: darken($delete-color, 10%);
              }
          }

      }
  }

